title = "Articles"
url = "/articles"
layout = "default"
hidden = "0"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "articles"
postsPerPage = "10"
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "articles/category"
postPage = "articles/item"
==
<h2>Latest Articles</h2>



    <ul class="post-list">
        {% for post in posts %}
            <li>
              {% if post.featured_images.0 %}
                <img src="{{post.featured_images.0.path}}" style="float: right; width: 20%; margin-left: 20px">
              {% endif %}
                <h3><a href="{{ post.slug }}">{{ post.title }}</a></h3>

                <p class="info">
                    Posted
                    {% if post.categories.count %} in {% endif %}
                    {% for category in post.categories %}
                        <a href="{{ categoryPage|page({ (categoryPageIdParam): category.slug}) }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    on {{ post.published_at|date('M d, Y') }}
                </p>

                {% if post.excerpt %}
                    <p class="excerpt">{{ post.excerpt }}</p>
                    <a href="/articles/{{ post.slug }}">Read More »</a>
                {% else %}
                    <div class="content">{{ post.content_html|raw }}</div>
                {% endif %}

                <div style="clear: both;"></div>
            </li>
        {% else %}
            <li class="no-data">{{ noPostsMessage }}</li>
        {% endfor %}
    </ul>

    {% if posts.getLastPage > 1 %}
        <ul class="pagination">
            {% if posts.getCurrentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.getCurrentPage-1) }) }}">← Prev</a></li>
            {% endif %}

            {% for page in 1..posts.getLastPage %}
                <li class="{{ posts.getCurrentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if posts.getLastPage > posts.getCurrentPage %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.getCurrentPage+1) }) }}">Next →</a></li>
            {% endif %}
        </ul>
    {% endif %}