title = "News"
url = "/news"
layout = "default"
hidden = "0"

[blogPosts]
categoryFilter = "news"
postsPerPage = "100"
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "news/category"
postPage = "news/item"
==
<h2>Latest News</h2>

    <ul class="post-list" style="padding-left: 0; margin-left: 0; list-style-type: none;">
        {% for post in posts %}
            <li>
              {% if post.featured_images.0 %}
                <img src="{{post.featured_images.0.path}}" style="float: right; width: 40%; margin-left: 20px">
              {% endif %}

                <h3><a href="news/{{ post.slug }}">{{ post.title }}</a></h3>

                <p class="info">
                    Posted on {{ post.published_at|date('M d, Y') }}
                </p>

                {% if post.excerpt %}
                    <p class="excerpt">{{ post.excerpt }}</p>
                    <a href="news/{{ post.slug }}">Read More »</a>
                {% else %}
                    <div class="content">{{ post.content_html|raw }}</div>
                {% endif %}

                <div style="clear: both;"></div>
            </li>
        {% else %}
            <li class="no-data">{{ noPostsMessage }}</li>
        {% endfor %}
    </ul>